<h1><%=@patient.name%> </h1>
<h2><%=@patient.age%> years old</h2>
------------------------
<h3>Appointments</h3>
<ul>
<% @appointment_list.each do |appt|%>
<li>Dr. <%= link_to appt.doctor.name, doctor_path(appt.doctor_id)%> - <%= appt.doctor.department%> -  
<%=appt.appointment_datetime.strftime("%B %-d, %Y")%> at 
<%=appt.appointment_datetime.strftime("%k:%M")%></li>
<% end %>
</ul>