<h1>Dr. <%=@doctor.name%> </h1>
<h2><%=@doctor.department%></h2>
------------------------
<h3>Appointments</h3>
<ul>
<% @appointment_list.each do |appt|%>
<li><%= link_to appt.patient.name, patient_path(appt.patient_id)%>   
<%=appt.appointment_datetime.strftime("%B %-d, %Y")%> at 
<%=appt.appointment_datetime.strftime("%k:%M")%></li>
<% end %>
</ul>